<h1>AdherentSessions#new</h1>

<hr>
<%= form_for @adherent, :url => { :action => 'create' }  do |f| %>
    <div style = "margin: 10px 0">
        <%=f.label :email, "Email" %><br>
        <%= f.text_field :email, placeholder: "Taper ici" %><br>
    </div>

    <div style = "margin: 10px 0">
        <%=f.label :password, "Password" %><br>
        <%= f.password_field :password, placeholder: "Taper ici" %><br>
    </div>
    
    <div style = "margin: 20px 0">
        <%= f.submit "Submit", disable_with: 'Submiting...', class: 'btn btn-outline-primary login-btn' %>
    </div>
<% end %>