<h1>Adherents#index</h1>

<% if !@adherents.filter { |adherent| !adherent.admin }.blank? %>
        <div class="row">
            <% for item in @adherents %>
                
                <% if !item.admin %>
                    
                    <div class="col">
                        <div class="card" style="width: 100%;margin: 20px 0">
                            <div class="card-body">
                                <h5 class="card-title"><%= " #{item.nom} #{item.prenom} " %> ( indice : <%= item.id %> )</h5>
                                <p class="card-text">Email : <%= item.email %></p>
                                <p class="card-text">Quota (sur documents) : <%= item.quota_document %></p>
                                <p class="card-text">Quota (sur materiels) : <%= item.quota_materiel %></p>
                                <%= link_to "Grant admin", '/adherents/'+item.id.to_s+"/admin", method: :post, class:"btn btn-dark" %>
                                <%= link_to "Supprimer Adherent", item, method: :DELETE, class:"btn btn-outline-danger" %>
                            </div>
                        </div>
                    </div>

                <% end %>
    
            <% end %>
        </div>
<% else %>
    <div class="card">
        <div class="card-body">
            Section des adherents est vide.
        </div>
    </div>
<% end %>