<h1>Materiels#index</h1>


<% if !@current_adherent.admin? %>
    <br>
    <hr>
    <h5>Materiels que vous disposez :</h5>

    <% if !@current_adherent.materiels.blank? %>
        <div style="display:flex; flex-wrap:wrap; gap:.8rem;">
                <% for item in @current_adherent.materiels %>
                        
                        <div class="card" style="flex: 1 1 max(20%, 200px);">
                            <div class="card-body">
                                <h5 class="card-title"><%= " #{item.type_materiel} #{item.code} " %></h5>
                                <p class="card-text">Status : <%= item.status %></p>
                                <p class="card-text">Type : <%= item.type_materiel %></p>
                                <div class="row">
                                    <div class="col">
                                        <%= link_to "Rendre", '/materiels/'+item.id.to_s+'/rendre', method: :post, class:"btn btn-outline-dark", style:"width:100%;margin: 5px 0" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                <% end %>
        </div>

    <% else %>
        <div class="card">
            <div class="card-body">
                Section des materiels <strong>empruntés</strong> est vide.
            </div>
        </div>
    <% end %>
    
<% end %>

<br>
<hr>
<h5>Materiels qu'ils sont disponibles pour vous :</h5>

<% if !@materiels.blank? %>
    <div style="display:flex; flex-wrap:wrap; gap:.8rem;">
        <% if @current_adherent.admin? %>
                <div class="card" style="width: 100%;margin: 20px 0">
                    <div class="card-body">
                        <h5 class="card-title">Ajouter materiel :</h5>
                        <p class="card-text">Pour ajouter un materiel cliquer sur la boutton dessous.</p>
                        <%= link_to "Ajouter document", '/materiels/new', class:"btn btn-primary" %>
                    </div>
                </div>
            
            <% for item in @materiels %>
                
                <div class="card" style="flex: 1 1 max(20%, 200px);">
                    <div class="card-body">
                        <h5 class="card-title"><%= " #{item.type_materiel} #{item.code} " %></h5>
                        <p class="card-text">Status : <%= item.status %></p>
                        <p class="card-text">Type : <%= item.type_materiel %></p>
                        <% if @current_adherent.admin? && !item.adherent_id.nil? %>
                            <p class="card-text">Emprunteur : <%= " #{Adherent.find(item.adherent_id).nom} #{Adherent.find(item.adherent_id).prenom} " %></p>
                        <% else %>
                            <p class="card-text">Emprunteur : <i class="fa-solid fa-ban"></i> </p>
                        <% end %>
                        <div class="row">
                            <div class="col">
                                <%= link_to "Supprimer", item, method: :delete, class:"btn btn-outline-danger", style:"width:100%;margin: 5px 0" %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>

        <% else %>
            <% for item in @materiels.filter { |materiel| materiel.status.include? 'Disponible' } %>
                
                <div class="card" style="flex: 1 1 max(20%, 200px);">
                    <div class="card-body">
                        <h5 class="card-title"><%= " #{item.type_materiel} #{item.code} " %></h5>
                        <p class="card-text">Status : <%= item.status %></p>
                        <p class="card-text">Type : <%= item.type_materiel %></p>
                        <div class="row">
                            <div class="col">
                                <%= link_to "Emprunter", '/materiels/'+item.id.to_s+'/emprunter', method: :post, class:"btn btn-primary", style:"width:100%;margin: 5px 0" %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>

            
            <% if @materiels.filter { |materiel| materiel.status.include? 'Disponible' }.blank? %>
                <div class="card">
                    <div class="card-body">
                        Section des materiels <strong>disponibles</strong> est vide.
                    </div>
                </div>
            <% end %>
            
        <% end %>

    </div>
<% else %>
    <div class="card">
        <div class="card-body">
            Section des materiels est vide.
        </div>
    </div>
    
    <% if @current_adherent.admin? %>
        <div class="card" style="width: 100%;margin: 20px 0">
            <div class="card-body">
                <h5 class="card-title">Ajouter materiel :</h5>
                <p class="card-text">Pour ajouter un materiel cliquer sur la boutton dessous.</p>
                <%= link_to "Ajouter document", '/materiels/new', class:"btn btn-primary" %>
            </div>
        </div>
    <% end %>
    
<% end %>